/* Sidebar */
.sidebar {
  width: 33%;
  max-width: 300px;
  padding-right: var(--space-8);
  position: sticky;
  top: 0px;
}

.info {
  margin-bottom: var(--space-8);
}
.infoHeader {
  color: #777;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: var(--font-pixel);
  margin-bottom: var(--space-1);
}

/* Level number */
.levelNumber {
  text-align: right;
}
.levelIcon {
  fill: #fff;
  width: 14px;
}
.levelNumber {
  font-size: 48px;
}


/* Dates */
.dateTitle {
  font-size: 1rem;
}
.dateDate {
  font-family: var(--font-mono);
  font-size: 1rem;
}


/* Tools */
.date, .tool {
  display: flex;
  flex-direction: row;
}
.toolTitle {
  font-size: 1.4rem;
  text-underline-offset: 4px;
  text-decoration: underline;
}
.toolTitle:hover {
  text-decoration: none;
}
.toolSpacer, .dateSpacer {
  flex-grow: 1;
  border-bottom: 1px dotted var(--color-dotborder);
}
.toolVersion {
  font-family: var(--font-mono);
  font-size: 1.4rem;
}


/* Links */
.linkList {
  list-style: none;
}
.linkWrapper {
  list-style: none;
  margin-bottom: var(--space-2);
}
.linkWrapper:last {
  border-bottom: none;
}
.linkIcon {
  fill: #ccc;
  width: 16px;
  margin-right: var(--space-2);
}
.linkLink {
  display: flex;
  flex-direction: row;
  padding: var(--space-2) var(--space-2);
  border-radius: 4px;
  border-bottom: 1px dashed var(--color-dotborder);
}
.linkLink:hover {
  background-color: #fff;
  color: black !important;
  fill: black !important;
}
.linkLinkText {
  display: flex;
  flex-direction: column;
}
.linkFeatured {
  background-color: var(--color-blue);
}
.linkUrl {
  color: #777;
  font-size: 12px;
  font-family: var(--font-pixel);
}


/* Table of Contents */
.toc {
  position: -webkit-sticky;
	position: sticky;
  top: var(--space-8);
  padding-top: var(--space-4);
}
.tocLink {
  display: flex;
  padding: var(--space-2) var(--space-2);
  border-radius: 4px;
  border-bottom: 1px dashed var(--color-dotborder);
  font-size: 16px;
}
.tocLink:hover {
  background-color: #fff;
  color: black !important;
  fill: black !important;
}
.tocNumber {
  padding-right: var(--space-2);
}