/* Sidebar */
.sidebar {
  max-width: 100%;
}
@media (min-width: 1024px) {
  .sidebar {
    min-width: 300px;
    padding-right: var(--space-8);
    position: sticky;
    top: 0px;
  }
}


.info {
  margin-bottom: var(--space-8);
}
.info h3 {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--text-sm);
  letter-spacing: 0.1em;
  font-family: var(--font-pixel);
  margin-bottom: var(--space-1);
}

/* Level number */
.levelNumber {
  text-align: right;
  font-size: var(--text-2xl);
}
.levelNumber svg {
  width: 14px;
  color: var(--color-featured);
}


/* Dates */
.dateTitle {
  font-size: var(--text-lg);
}
.dateDate {
  font-family: var(--font-mono);
  font-size: var(--text-lg);
}


/* Tools */
.date, .tool {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--space-2);
}
.toolTitle {
  font-size: var(--text-lg);
  text-underline-offset: 4px;
  text-decoration: underline;
}
.toolTitle:hover {
  color: var(--color-highlight);
}
.toolSpacer, .dateSpacer {
  flex-grow: 1;
  border-bottom: 1px dotted var(--color-dotborder);
}
.toolVersion {
  font-family: var(--font-mono);
  font-size: var(--text-lg);
}


/* Links */
.linkList {
  list-style: none;
}
.linkWrapper {
  list-style: none;
  margin-bottom: var(--space-2);
}

/* Single Links */
.link {
  display: flex;
  flex-direction: row;
  padding: var(--space-2) var(--space-2);
  border-radius: 4px;
  border: 1px dashed var(--color-dotborder);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.link:hover {
  background-color: var(--color-background-900);
  color: var(--color-highlight) !important;
  border-left-color: var(--color-dotborder);
  border-right-color: var(--color-dotborder);
  border-top-color: var(--color-dotborder);
}
.link svg {
  width: 20px;
  flex: none;
  margin-right: var(--space-2);
}
.link > span span {
  display: block;
}
.link > span span:last-child {
  color: var(--color-secondary);
  font-size: var(--text-sm);
  font-family: var(--font-pixel);
}

.linkFeatured {
  border: 1px dashed var(--color-featured);
}
.linkFeatured:hover {
  border: 1px dashed var(--color-featured) !important;
}


/* Table of Contents */
.toc {
  position: -webkit-sticky;
	position: sticky;
  top: var(--space-8);
  padding-top: var(--space-4);
}
.tocLink {
  display: flex;
  padding: var(--space-2) var(--space-2);
  border-radius: 4px;
  border: 1px dashed var(--color-dotborder);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  font-size: var(--text-md);
}
.tocLink:hover {
  background-color: var(--color-background-900);
  color: var(--color-highlight) !important;
  border-left-color: var(--color-dotborder);
  border-right-color: var(--color-dotborder);
  border-top-color: var(--color-dotborder);
}
.tocLink > span:first-child {
  padding-right: var(--space-2);
}