.flexGrow {
  flex-grow: 1;
}
.fontPixel {
  font-family: var(--font-pixel);
}

.inline {
  display: inline;
}

.inline li {
  display: inline;
}

.secondary {
  color: var(--color-secondary);
  font-size: var(--text-md);
}
a.secondary:hover {
  text-decoration: underline;
}