.prose {
  font-size: 18px;
  position: relative;
}
.prose p {
  margin: var(--space-4) 0;
}

.prose figure, 
.prose figure img {
  max-width: 100%;
  height: auto;
}


.prose .callout {
  font-size: 20px;
  border-left: 4px solid pink;
}
.prose .callout--warning {
  font-size: 20px;
  border-left: 4px solid yellow;
}

.prose code {
  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 0 var(--space-1);
}