.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
/* Group of cards */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Single Card */
.card {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 33.33%;
  }
}

.cardInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  margin: var(--space-2);
  padding: var(--space-4);
  background-color: #111;
}

.card .footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

.sidebar {
  width: 33%;
  max-width: 300px
}

.content {
  width: 66%;
  flex-grow: 1;
}
.contentHeader {
  font-size: 48px;
}